# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
myvenv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Ubuntu/Linux
*.swp
*~

# Environment variables
.env

# Node (if you later use Tailwind or JS tools)
node_modules/
